.checkstuff {
  margin-top: 3vh;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;     
  gap: 5vh;            
  width: 50vw;         
  margin: 0 auto;   
}
.contains {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    flex-wrap: wrap;         
    width: 50vw;   
    margin: 0 auto;    
}